#
#    fty-warranty - Agent sending metrics about warranty expiration
#
#    Copyright (C) 2014 - 2018 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-warranty
Section:        net
Priority:       optional
Maintainer:     fty-warranty Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libcxxtools-dev,
    libtntdb-dev,
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    libfty-common-db-dev,
    libfty-common-mlm-dev,
    libfty-shm-dev (>= 1.0.0),
    gcc (>= 4.9.0), g++ (>= 4.9.0),
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-warranty1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-warranty shared library
 This package contains shared library for fty-warranty:
 agent sending metrics about warranty expiration

Package: libfty-warranty-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libcxxtools-dev,
    libtntdb-dev,
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    libfty-common-db-dev,
    libfty-common-mlm-dev,
    libfty-shm-dev (>= 1.0.0),
    libfty-warranty1 (= ${binary:Version})
Description: fty-warranty development tools
 This package contains development files for fty-warranty:
 agent sending metrics about warranty expiration

Package: fty-warranty
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-warranty
 Main package for fty-warranty:
 agent sending metrics about warranty expiration

Package: fty-warranty-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-warranty (= ${binary:Version}),
    ${misc:Depends}
Description: fty-warranty debugging symbols
 This package contains the debugging symbols for fty-warranty:
 agent sending metrics about warranty expiration.
