#
#    fty-expiration - Agent sending metrics about warranty expiration
#
#    Copyright (C) 2014 - 2017 Eaton                                        
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         fty-expiration
Section:        net
Priority:       optional
Maintainer:     fty-expiration Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libfty-proto-dev,
    libcxxtools-dev,
    libtntdb-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf


Package: fty-expiration
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-expiration
 Main package for fty-expiration:
 agent sending metrics about warranty expiration

Package: fty-expiration-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-expiration (= ${binary:Version}),
    ${misc:Depends}
Description: fty-expiration debugging symbols
 This package contains the debugging symbols for fty-expiration:
 agent sending metrics about warranty expiration.
